.box {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: rgb(219, 218, 218);
    position: fixed;
    text-align: center;
    top: 0%;
    left: 70%;
    transform: translate(-40%,40%);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
   
}

.box2{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: rgb(219, 218, 218);
    position:fixed;
    text-align: center;
    top: 25%;
    left: 25%;
    transform: translate(-40%,40%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

.box3 {
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: rgb(219, 218, 218);
    position:fixed;
    text-align: center;
    top: 50%;
    left: 67%;
    transform: translate(-40%,40%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}



body,html {
    
    background: url("./pic1.jpg") no-repeat center center fixed;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    text-align: center;
    height: 100%;
}

a {
    color:black;
    text-decoration: none;
    
   
}

.text{
    text-align: center;
}